body{
    background-color:#daecbe;
    font-family:Arial, Helvetica, sans-serif;
}

.hero{

    padding:100px 20px;

}

.hero h1{

    font-size:60px;

    color:#4A7C59;

}

.hero p{

    font-size:22px;

    color:#555;

    margin-bottom:30px;

}